<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SM Video Downloader</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/google-sans" rel="stylesheet">
    <style>
        body {
            font-family: 'Product Sans', sans-serif !important;
        }
    </style>
</head>
<body class="bg-stone-50">
<div id="app" class="h-screen">
    <div class="bg-white rounded-xl border shadow-sm container-lg max-w-4xl m-auto mt-12 py-12 p-4">
        <h1 class="text-center text-5xl py-8">Social Media Video Downloader</h1>

        <!-- Search Form -->
        <div class="flex items-center max-w-lg mx-auto mb-6">
            <div class="relative w-full">
                <label for="video-url" class="sr-only">Enter YouTube URL</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z"/>
                    </svg>
                </div>
                <input type="text" id="video-url" v-model="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Enter video URL" required />
            </div>
            <button type="submit" class="inline-flex items-center py-2.5 px-4 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800" @click="downloadVideo">
                Search
            </button>
        </div>

		<!-- Showing Image & Title-->
		<div class="mt-8" v-if="videoData">
			<h2 class="text-center text-2xl font-bold">{{ videoData.title }}</h2>
			<div class="flex justify-center my-4">
				<img v-if="videoData.thumbnail && videoData.thumbnail !== ''" :src="videoData.thumbnail" alt="Video Thumbnail" 
				class="rounded-2xl border border-gray-200 shadow-sm" style="width:250px; height:150px;" />
			</div>
		</div>

        <!-- Mp4 Video Table -->
        <div class="relative overflow-x-auto sm:rounded-lg p-6 mt-8" v-if="videoData && videoData.medias && videoData.medias.length > 0">
            <h2 class="text-xl font-semibold mb-4 text-center">Mp4 Available Download Options</h2>
            <table class="m-auto w-full text-sm text-center text-gray-500 max-w-2xl">
                <thead class="text-xs text-gray-700 uppercase border-b border-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Quality</th>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Format</th>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Download Link</th>
                    </tr>
                </thead>
			  <tbody>
				<!-- Filter the media array to include only items with extension 'mp4' -->
				<tr v-for="(media, index) in videoData.medias.filter(item => item.extension === 'mp4').reverse()" :key="index" class="border-b border-gray-200">
					<td class="px-6 py-4">{{ media.quality || 'Unknown Quality' }}</td>
					<td class="px-6 py-4">{{ media.extension || 'Unknown Format' }}</td>
					<td class="px-6 py-4">
						<a :href="media.url" target="_blank" download class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-sm px-5 py-2.5">
							Download
						</a>
					</td>
				</tr>
			</tbody>
            </table>
        </div>
		
		
	<!-- Mp3 Music Table -->
        <div class="relative overflow-x-auto sm:rounded-lg p-6 mt-8" v-if="videoData && videoData.medias && videoData.medias.length > 0">
            <h2 class="text-xl font-semibold mb-4 text-center">Mp3 Available Download Options</h2>
            <table class="m-auto w-full text-sm text-center text-gray-500 max-w-2xl">
                <thead class="text-xs text-gray-700 uppercase border-b border-gray-200 ">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Quality</th>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Format</th>
                        <th scope="col" class="px-6 py-3 bg-gray-50">Download Link</th>
                    </tr>
                </thead>
			  <tbody>
				<!-- Filter the media array to include only items with extension 'mp4' -->
				<tr v-for="(media, index) in videoData.medias.filter(item => item.extension === 'mp3').reverse()" :key="index" class="border-b border-gray-200">
					<td class="px-6 py-4">{{ media.quality || 'Unknown Quality' }}</td>
					<td class="px-6 py-4">{{ media.extension || 'Unknown Format' }}</td>
					<td class="px-6 py-4">
						<a :href="media.url" target="_blank" download class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-sm px-5 py-2.5">
							Download
						</a>
					</td>
				</tr>
			</tbody>
            </table>
        </div>
		
		

        <!-- No Data -->
        <div v-if="videoData && (!videoData.medias || videoData.medias.length === 0)" class="flex justify-center mt-8">
			<div class="p-4 text-md text-red-500 rounded-lg bg-gray-50 w-full text-center" role="alert">
			  <span class="font-medium">No download links available for the provided URL.</span>
			</div>
        </div>
		
		<p class="mb-3 text-gray-500 m-auto text-center max-w-lg">
		All-in-One Social Media Downloader Download photos, videos, and music from TikTok, Douyin (No watermark), Youtube, Facebook, Instagram, Threads, X, Pinterest, and more.
		</p>
	    		<p class="mb-3 text-rose-500 m-auto text-center max-w-xl">
		Note: The web app is unavailable due to reaching the free API limit. To use it, download the project, subscribe to Snap-Video3 on RapidAPI, get an API key, add it to the code, and run the app.
		</p>
		
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                url: '',
                videoData: null,
            };
        },
        methods: {
            async downloadVideo() {
                if (!this.url) {
                    alert("Please enter a valid URL");
                    return;
                }

                const formData = new FormData();
                formData.append('url', this.url); 

                const options = {
                    method: 'POST',
                    url: 'https://snap-video3.p.rapidapi.com/download',
                    headers: {
                        'x-rapidapi-key': 'your-api-key-put-here',
                        'x-rapidapi-host': 'snap-video3.p.rapidapi.com'
                    },
                    data: formData
                };

                try {
                    const response = await axios.request(options);
                    this.videoData = response.data;
                    console.log(response.data);
					
					console.log(response.data.extension);
					
                } catch (error) {
                    console.error("Error fetching video data:", error);
                    alert("Failed to fetch video data. Please try again.");
                }
            }
        }
    });

    app.mount('#app');
</script>
</body>
</html>
